  <div class="col-md-6 col-md-offset-3">
      <div class="homepage-info">
    <h1 class="tagline">Zen places at your fingertips</h1>
    <%= link_to "Sign Up", sign_up_path, remote: true, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
