  <div class="col-md-6 col-md-offset-3"><br/>
      <div class="Welcome">
        <h2 class="text-center">Explore New Zen Places With Zenterest</h2><br/>
        <div class="text-center"><%= link_to "SIGN UP", sign_up_path, remote: true, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
</div>
